:root {
    --logo-font: 'Audiowide', sans-serif;
    --body-font: "JetBrains Mono", monospace;
    --color-green: #cfd600;
    --color-green-hover: #bac100;
    --color-green-active: #a6ab00;
    --color-blue-dark: #0b3643;
    --color-blue-mid: #0f4b5d;
    --color-blue: #1c88a9;
    --color-blue-light: #7ca8b6;
    --color-white: #fff;
    --body-gradient: linear-gradient(0deg,
            #166983 0%,
            #0D4050 50%,
            #0B3643 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
    transition: .5s;
    cursor: pointer;
}

a:hover {
    color: var(--color-green);
}