body {
    font-family: var(--body-font);
    font-size: 1.6rem;
    font-weight: 500;
    background-image: var(--body-gradient);
    min-height: 100vh;
    color: var(--color-white);
}

/* css header */
.navbar-toggler {
    color: var(--color-white) !important;
}

.nav-link {
    color: var(--color-white) !important;
}

.nav-link:hover {
    color: var(--color-green)!important;
}

.nav-link.active {
    color: var(--color-green) !important;
}

.btn-custom {
    background-color: var(--color-green);
    color: var(--color-blue-dark);
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-custom:hover {
    background-color: var(--color-green-hover);
    color: var(--color-blue-dark);
}

/* fim css header */


/* css categorias */
.title {
    font-family: var(--logo-font);
    font-size: 3.2rem;
    padding: 8rem 0 2rem 0;
    text-align: center;
}

.btn-category {
    background-color: transparent;
    border: 0.2rem solid var(--color-blue);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 500;
}

.btn-category:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

/* fim css categorias */


/* css select */
.select {
    margin-top: 10rem;
}

.select-custom {
    background-color: transparent;
    border: 0.2rem solid var(--color-blue);
    color: var(--color-white) !important;
    font-size: 1.6rem;
    font-weight: 600;
}

.option-custom {
    background-color: var(--color-white);
    border-radius: 0.5rem;
    color: var(--color-blue-dark);
}

/* fim css select */


/* css cards */
.card {
    padding: 0;
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    border: none;
    height: 50vh;
}

.card:hover {
    transition: .5s;
    box-shadow: 0 0.4rem 1.5rem 0 var(--color-white);
}

.card-img-top {
    height: 50%;
}

.card-title {
    font-family: var(--logo-font);
    font-size: 2rem;
}

.card-text {
    font-size: 2rem;
}

/* fim css cards */


/* início css footer */
.footer-custom {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

#text-logo {
    font-family: 'Audiowide', sans-serif;
}

.footer-custom h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer-list ul {
    padding: 0;
}

.footer-list li {
    margin-bottom: 1.6rem;
}

.footer-socialMedia ul {
    display: flex;
    font-size: 2.4rem;
    padding: 0;
    gap: 2rem;
}

/* fim footer */